@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root,
.system-theme,
.light-theme {
  /* HSL values, not using hsl() to integrate with Tailwind in a way that supports Tailwind's opacity utilities */
  --color-text-primary: 210, 11%, 4%;
  --color-text-inverted: 0, 0%, 100%;
  --color-text-link: 224, 76%, 48%;
  --color-bg-primary: 0, 0%, 100%;
  --color-bg-secondary: 200, 10%, 94%;
  --color-bg-inverted: 210, 11%, 4%;
  --color-border-primary: 208, 11%, 74%;
  --color-btn-primary: 235, 72%, 55%;
  --color-btn-secondary: 208, 11%, 74%;
  --color-btn-success: 140, 72%, 55%;
  --color-btn-danger: 0, 72%, 55%;
}

.dark-theme {
  --color-text-primary: 210, 11%, 90%;
  --color-text-inverted: 210, 11%, 4%;
  --color-text-link: 224, 76%, 68%;
  --color-bg-primary: 210, 11%, 20%;
  --color-bg-secondary: 210, 11%, 10%;
  --color-bg-inverted: 0, 0%, 100%;
  --color-border-primary: 0, 0%, 0%;
  --color-btn-primary: 235, 72%, 75%;
  --color-btn-secondary: 208, 11%, 30%;
  --color-btn-success: 140, 72%, 55%;
  --color-btn-danger: 0, 72%, 65%;
}

@media (prefers-color-scheme: dark) {
  /* copy of .dark-theme */
  .system-theme {
    --color-text-primary: 210, 11%, 90%;
    --color-text-inverted: 210, 11%, 4%;
    --color-text-link: 224, 76%, 68%;
    --color-bg-primary: 210, 11%, 20%;
    --color-bg-secondary: 210, 11%, 10%;
    --color-bg-inverted: 0, 0%, 100%;
    --color-border-primary: 0, 0%, 0%;
    --color-btn-primary: 235, 72%, 75%;
    --color-btn-secondary: 208, 11%, 30%;
    --color-btn-success: 140, 72%, 55%;
    --color-btn-danger: 0, 72%, 65%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply styles after components layer - so that utilities layer styles can overwrite what's here */
@layer components {
  html,
  body {
    @apply font-noto;
  }

  #theme-container {
    @apply text-theme-primary bg-theme-secondary;
    min-height: 100vh;
    transition: background-color ease-in 200ms, color ease-in 200ms;
  }

  .container {
    max-width: 1680px;
    padding: 0 10vw;
  }

  .btn {
    @apply flex justify-center items-center text-center text-xl font-bold text-theme-primary bg-theme-btn-secondary py-2 px-4 m-2 mr-4 ml-0 rounded ring-offset-2 ring-offset-theme-primary ring-theme-secondary cursor-pointer;
  }

  .btn:hover {
    filter: brightness(90%);
  }

  .btn:disabled,
  .btn[disabled] {
    cursor: not-allowed;
  }

  .btn-primary {
    @apply text-theme-inverted bg-theme-btn-primary ring-theme-primary;
  }

  .btn-success {
    @apply text-theme-inverted bg-theme-btn-success ring-theme-success;
  }

  .btn-danger {
    @apply text-theme-inverted bg-theme-btn-danger ring-theme-danger;
  }

  .input {
    @apply py-2 px-3 text-2xl bg-theme-primary border border-theme-primary rounded-lg;
  }

  .label {
    @apply inline-block font-bold;
  }

  .card {
    @apply p-8 my-4 mx-0 bg-theme-primary border border-theme-primary rounded-lg;
  }

  .loader {
    @apply border-8 border-theme-primary rounded-full w-12 h-12;
    border-top: 8px solid hsl(var(--color-btn-primary));
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  #theme-container {
    @apply motion-reduce:transition-none;
  }
  .btn {
    @apply focus:ring-2;
  }
}
