@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --color-bg: #eef0f1;
    --color-text: #08090a;
    --color-blue: #3b49df;
    --color-red: #df3b3b;
    --color-green: #3bdf72;
    --color-gray: #b5bdc4;
  }

  html,
  body {
    @apply font-noto bg-custom-gray-light;
  }

  nav > div {
    max-width: 1680px;
    padding: 0 10vw;
  }

  main {
    padding: 1rem 10vw;
    max-width: 1680px;
    margin: 0 auto;
  }

  .btn {
    @apply flex justify-center items-center text-center font-noto text-xl font-bold text-gray-900 bg-custom-gray py-2 px-4 m-2 mr-4 ml-0 rounded cursor-pointer;
  }

  .btn-blue {
    @apply text-white bg-blue-700;
  }

  .btn-green {
    @apply text-white bg-green-600;
  }

  .btn-red {
    @apply text-white bg-red-700;
  }

  .input {
    @apply py-2 px-3 text-2xl bg-white border border-custom-gray rounded-lg;
  }

  .label {
    @apply inline-block font-bold;
  }

  .card {
    @apply p-8 my-4 mx-0 bg-white border border-custom-gray rounded-lg;
  }

  /* Loader */
  .loader {
    @apply border-8 border-custom-gray-light rounded-full w-12 h-12;
    border-top: 8px solid var(--color-blue);
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .btn:hover {
    filter: brightness(90%);
  }

  .btn:disabled,
  .btn[disabled] {
    cursor: not-allowed;
  }
}
